.box-cctv-t{
    width: 100%;
    height: 503.75px;
    background-color: black;
}
.content-cctv{
    height: 100%;
    width: 1240px;
    border-radius: 37.89px;
    background: linear-gradient(top, #7B63FF,#5C40F1);
}