.box-cctv-t {
    width: 100%;
    height: 503.75px;
    margin-bottom: 60px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-cctv {
    width: 1100px;
    height: 100%;
    border-radius: 37.89px;
    background: linear-gradient(to bottom, #7B63FF, #5C40F1);
    overflow: hidden;
    display: flex;
}

.box-left {
    width: 50%;
    height: 100%;
}
.box-right{
    width: 50%;
    height: 100%;
    color: #fff;
}
