.countdown {
    width: 54px;
    height: 100%;
    background-color: #F1F1F1;
    border-radius:4px;
    padding: 8px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.bbb {
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to bottom, #FDFDFD, #F0EFEF3B);
    display: grid;
    place-items: center;
}

.countdown.danger {
    background-color: #7B63FF;
}

.countdown.danger .bbb {
    background-color: #bfb9e0;


}