@font-face {
    font-family: "yekanbakh";
    src: url(./assets/fonts/BYekan.ttf);
}
@font-face {
    font-family: "Maneli";
    src: url("https://db.onlinewebfonts.com/t/048d796e38af6fe158614d528247b367.eot");
    src: url("https://db.onlinewebfonts.com/t/048d796e38af6fe158614d528247b367.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/048d796e38af6fe158614d528247b367.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/048d796e38af6fe158614d528247b367.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/048d796e38af6fe158614d528247b367.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/048d796e38af6fe158614d528247b367.svg#Maneli")format("svg");
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}