:root {}
{

}
a {
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

ul {
  list-style: none;
}
.products{
  width: 100%;
  /* background-color: #3e43d5; */
  box-shadow: 1px 7px 12px 0px #727272;
  border-radius: 8px;
  padding: 12px;
  margin:16px;
  color: #fff;
}
.products:hover{
  transform: scale(1.3 ,1.3);
}
/* 

a:hover {
  color: #535bf2;
}
.active{
  color: green;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */